@model ____Project.Models.HotelRoom

<link href="~/Content/RoomDelete.css" rel="stylesheet" />
<div class="main-content">
    <header>
        <div class="search-wrapper">
            <span class="las la-search"></span>
            <input type="search" placeholder="Search" />
        </div>

        <div class="social-icons">
            <span class="las la-bell"></span>
            <span class="las la-comments"></span>
        </div>
    </header>


    <main>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>HotelRoom</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Roomname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Roomname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
        </main>
</div>