@model ____Project.Models.HotelRoom

<link href="~/Content/GuestEdit.css" rel="stylesheet" />
<div class="main-content">
    <header>
        <div class="search-wrapper">
            <span class="las la-search"></span>
            <input type="search" placeholder="Search" />
        </div>

        <div class="social-icons">
            <span class="las la-bell"></span>
            <span class="las la-comments"></span>
        </div>
    </header>


    <main>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Edit Rooms</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.roomID)

                <div class="form-group">
                    @Html.LabelFor(model => model.Roomname, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Roomname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Roomname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
  
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
 </main>
    </div>
